* { 
    box-sizing: border-box; /* border y el padding cuente como anchura */
    font-family: 'Open Sans', sans-serif;

}
a { 
    text-decoration: none;
    color:inherit;
}
a:hover {
    color:rgb(29, 75, 228);
}





 
img {
    max-width: 100%;
    height: auto;
}

    
