.bg-dark{
    background-color: #444;

}
.bg-light{
    background: #ededed;
}
.txt-color{
    color: darkgreen;
}
.rounded{
    border-radius: 10px;
}
:bord{
    margin-top: 2em;
}
.sep{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin-left: 5px;
    padding: 20px;
    margin-top:2em;
    margin-bottom: 4em;
    line-height: 1.6em;
    text-align: left;
}